<section class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container">
      <div class="auth-form">
        <div class="auth-title">Войти в личный кабинет</div>
        <div class="auth-inputs">
          <div class="auth-input">
            <input type="text" class="input"
                   autocomplete="email"
                   [ngStyle]="{'border-color':loginForm.get('email')?.invalid
                 && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) ? 'red' : ''}"
                   placeholder="Электронная почта" formControlName="email">
            <div class="error-message" *ngIf="loginForm.get('email')?.invalid
                 && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
              Некорректный email
            </div>
          </div>
          <div class="auth-input">
            <input [type]="passwordVisible ? 'text' : 'password'" class="input"
                   autocomplete="current-password"
                   [ngStyle]="{'border-color':loginForm.get('password')?.invalid
                 && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'red' : ''}"
                   placeholder="Пароль" formControlName="password">
            <div class="toggle-password" (click)="togglePasswordVisibility()">
              <svg *ngIf="!passwordVisible" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z" stroke="#709FDC" stroke-linecap="round"/>
                <circle cx="12" cy="12" r="3" stroke="#709FDC" stroke-linecap="round"/>
              </svg>
              <svg *ngIf="passwordVisible" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z" stroke="#709FDC" stroke-linecap="round"/>
                <circle cx="12" cy="12" r="3" stroke="#709FDC" stroke-linecap="round"/>
                <path d="M3 21L20 4" stroke="#709FDC" stroke-linecap="round"/>
              </svg>
            </div>
            <div class="error-message" *ngIf="loginForm.get('password')?.invalid
                 && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
              Минимум 8 символов. Хотя бы 1 в верхнем и нижнем регистрах
            </div>
          </div>
          <div class="auth-checkbox">
            <input type="checkbox" id="remember" formControlName="rememberMe">
            <label for="remember">Запомнить меня</label>
          </div>
        </div>
        <div class="auth-action">
          <!--        <button class="button auth-button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>-->
          <button type="submit" class="button auth-button" [disabled]="loginForm.invalid">Войти</button>
        </div>
        <div class="auth-link">
          Нет аккаунта? <a routerLink="/signup"> Пройдите регистрацию</a>
        </div>
      </div>
      <div class="page-image">
        <img src="/assets/images/page/login.png" alt="user">
      </div>
    </div>
  </form>
</section>
